In [1]:
# import dependencies
import os, inspect
from sqlalchemy import create_engine
import sqlite3
import pandas as pd

# get current dir
curr_dir = os.path.dirname(inspect.getabsfile(inspect.currentframe()))
root_dir = os.path.dirname(curr_dir)

In [2]:
db_name =  os.path.join(root_dir,
                        "airboard",
                        "data",
                        "ext",
                        "616181125_T_T100D_MARKET_ALL_CARRIER_CLEAN_10TO18_V1.sqlite")
con = sqlite3.connect(db_name)

In [3]:
# airport table
csv_fname =  os.path.join(root_dir,
                      "airboard",
                      "data",
                      "ext",
                      "616228237_AIRPORT_MASTER_CORD_CLEAN_V0.csv")
# read csv
airports_df = pd.read_csv(csv_fname).iloc[:, 1:]
airports_df.to_sql("AIRPORTS", con, index=True, if_exists="replace")
airports_df.head()

,AIRPORT_ID,AIRPORT,LATITUDE,LONGITUDE,DISPLAY_AIRPORT_NAME,AIRPORT_STATE_NAME,AIRPORT_STATE_CODE,AIRPORT_COUNTRY_NAME,AIRPORT_CITY_NAME
0,10001,01A,58.109444,-152.906667,Afognak Lake Airport,Alaska,AK,United States,Afognak Lake
1,10003,03A,65.548056,-161.071667,Bear Creek Mining Strip,Alaska,AK,United States,Granite Mountain
2,10004,04A,68.083333,-163.166667,Lik Mining Camp,Alaska,AK,United States,Lik
3,10005,05A,67.570000,-148.183889,Little Squaw Airport,Alaska,AK,United States,Little Squaw
4,10006,06A,57.745278,-152.882778,Kizhuyak Bay,Alaska,AK,United States,Kizhuyak

In [4]:
# states coordinates 
csv_fname =  os.path.join(root_dir,
                      "airboard",
                      "data",
                      "ext",
                      "616228237_STATE_CORD_V0.csv")
# read csv
states_df = pd.read_csv(csv_fname).iloc[:, 1:]
states_df.to_sql("STATES_COORD", con, index=True, if_exists="replace")
states_df.head()

  AIRPORT_STATE_CODE   LATITUDE   LONGITUDE
0                 AB  54.010936 -113.990804
1                 AK  60.797532 -149.810723
2                 AL  32.720152  -86.628245
3                 AR  35.282701  -92.476513
4                 AZ  34.232104 -111.858320

In [5]:
# years table
for year in range(2010, 2019):
    csv_fname =  os.path.join(root_dir,
                          "airboard",
                          "data",
                          "ext",
                          f"{year}_616181125_T_T100D_MARKET_ALL_CARRIER_CLEAN_V1.csv")
    # read csv
    year_df = pd.read_csv(csv_fname).iloc[:, 2:]
#     year_df["index"] = year_df["index"].astype("int")
    
    year_df.to_sql(f"Y{year}", con, index=True, if_exists="replace")
    
# con.close()

In [6]:
year_df.columns

Index(['PASSENGERS', 'FREIGHT', 'MAIL', 'DISTANCE', 'AIRLINE_ID',
       'UNIQUE_CARRIER_ENTITY', 'UNIQUE_CARRIER_NAME', 'REGION',
       'ORIGIN_AIRPORT_ID', 'DEST_AIRPORT_ID', 'YEAR', 'QUARTER', 'MONTH',
       'DISTANCE_GROUP', 'CLASS'],
      dtype='object')